<nav class="flex flex-row">
    <!--Breaking News Bar-->
    <div>
        <p></p>
    </div>
    
    <!--Login-->
    <div>

        <div>

        </div>
    </div>

</nav>

@code {

    List<string> _breakingNews = new List<string>();
    
    


}