@page "/"
<PageTitle>NewsSite</PageTitle>

<main class="flex flex-col items-center">
    <!--Top News Canvas--->
    <section>
        
    </section>
    
    <!--Categories and Latest 5 News--->
    <section>
        <div class="">
            
        </div>
    </section>
    
</main>


@code
{
    
}
